@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


header {
	padding: 20px 0;
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	margin: 0;
	display: flex;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header a {
	padding: 0 20px;
	margin: 0;
}

/*
.row{
	display: flex;
	text-align: center;
	border: solid 1px;
}
*/

#name {
	font-family: Bungee Shade, Pacifico;
	margin: 0px;
	margin-bottom: .5rem;
}